body {
    background-image: url('../b.jpg'); 
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    min-height: 100vh; 
  }
  
  .navbar {
    border-radius: 15px;
    margin: 0 20px; 
    padding: 0 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .nav-link.active {
    background-color: #f0f0f0;
    border-radius: 6px;
  }
  
  .nav-link:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
  }
  